/*
Theme Name: Zavod za javno zdravlje Sombor 2017
Theme URI: http://www.zzjzsombor.org/
Author: Predrag Drljača
Author URI: https://www.iampedja.com/
Description: Version two added responsivness and usabilty improvements as being a informational portal for reginal health institution. It uses Bootstrap 3.3.2 as a foundation.
Version: 2.0
License: Attribution-NonCommercial-ShareAlike CC BY-NC-SA
License URI: https://creativecommons.org/licenses/by-nc-sa/4.0/
Tags: blue, white, light, dark, grey, one-column, two-columns, three-columns, responsive-layout, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, sticky-post, theme-options, translation-ready, accessibility-ready
Text Domain: zzjz
*/

/* Color Scheme
  color: #3b3b3b/#333; (dark, but not black)
  color: #1f8dd6; (main accent)
  color: #a4d5ff; (muted link color)
  color: #cbd6e5; (blockquote)
  color: #afb8c8; (muted paragraph color)
  color: #ffa34d; (secondary accent)
  color: #1973af; (link hover)
  color: #eef; (sidebar text)
*/

/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:regular,bold'); */
/* @import url('css/'); */

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  color: #3b3b3b;
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: 400;
  font-size: 16px; font-size: 1.6rem;
  padding-top: 64px; /* NAVBAR FIXED-TO-TOP FIX */
  line-height: 1.6em;
}

h1, h2, h3, h4, h5, h6, #hcard h5 a {
  font-weight: 700;
  margin: 0 0 .9em;
  text-transform: uppercase;
  line-height: 1.2em;
}

h1 { font-size: 24px; text-align: center; }
h2 { font-size: 20px; }
h3 { font-size: 18px; }
h4, h5, h6 { font-size: 16px; }

/* LINKS */

a {
  color: #1f8dd6;
  text-decoration: none;
}
a:hover, .muted a:hover {
  color: #333;
  border-bottom-color: #333;
  text-decoration: none;
}
.muted a {
  color: #a4d5ff;
}

address {
  line-height: inherit;
}
blockquote {
  border-color: #cbd6e5;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
}

p, figure {
  margin-bottom: 1.2em;
}
p.muted {
  color: #afb8c8;
}
.fa-ul li i {
  top: .4em;
}

/* GUMBIĆI :) */

a.btn {
  text-decoration: none;
}
.btn-default {
  border: 1px solid #1f8dd6;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #1f8dd6;
  border-color: #1f8dd6;
}

:hover.btn-default, .btn-default:hover {
  background-color: #1f8dd6;
  color: #fff;
  border-color: #1f8dd6;
}

.thumbnail {
  padding: 16px;
}
.thumbnail .entry-title {
  margin-bottom: 0;
}
.fa-sun-o {
  color: goldenrod;
}
.fa-leaf {
  color: #4c4;
}

/* MODAL */

body.modal-open {
  overflow: visible;
}
.modal {
  overflow: auto;
}
.modal-backdrop.in {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.modal-header, .modal-footer {
  border: none;
}
.modal-content {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: rgba(77, 161, 255, .9);
  border: 0
}

/* ICON(S) */

.icon {
  display: inline-block;
  margin-bottom: 32px;
}
.fa.fa-outline {
  color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #3b3b3b;
 }


/* ----------------------------------------------------------- NAVIGACIJA  */

#cd-search {
  top: 98px;
}
.header-bar {
  color: #fff;
  background-color: #3b3b3b;
  line-height: 26px;
  height: 34px;
}
.header-bar * {
  margin-bottom: 0;
}
.header-bar a:hover {
  color: #fff;
}
.header-bar .container {
  padding-top: 0;
  padding-bottom: 0;
}



#navigation {
  /* background-color: #1f8dd6; */
  background-color: #fff;
  border: 0;
  margin-bottom: 0;
  /*	z-index: 1; /* DROPDOWN FIX IF ANIMATION.CSS IS USED */
}

/* LOGO */
.navbar-header a.navbar-brand {
  width: 72px;
  height: 64px;
  background: #fff url("img/logo.gif") no-repeat 50% 50%;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin-left: 0;
}

/* NAV LINKS */

#mainnav a {
  color: #1f8dd6;
  padding: 0 1em;
  line-height: 64px;
  height: 64px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px; font-size: 1.6rem;
  border-bottom: 0;
}
#mainnav a:hover {
  color: #3b3b3b;
}
#mainnav li {
  margin-bottom: 0;
}
#mainnav .current-menu-item a, #mainnav .current-menu-parent a, #mainnav .dropdown ul li.current-menu-item a {
  background-color: #1f8dd6;
  color: #fff;
}

/* NAVBAR TOGGLE */

.navbar-toggle {
  margin-top: 8px;
  margin-right: 16px;
  height: 39px;
  width: 42px;
  text-align: center;
  border: none;

}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
  height: 4px;
  border-radius: 0;
  width: 32px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

/* DROP DOWN */

#mainnav .open a {
  color: #1f8dd6;
  background-color: #fff;
}
#mainnav, #mainnav .dropdown-menu {
  border: none;
}
#mainnav .dropdown-menu {
  padding: 0;
}
#mainnav .dropdown-menu a:hover {
  color: #000;
  background-color: #fff;
}
.navbar-collapse {
  /*    max-height: none; <- DISABLES HEIGHT LIMIT ON DROP-DOWN */
  border: 0;
}
.navbar-nav {
  margin-top: 0;
}



/* POčETNA STRANICA */
.vintage .col-md-6 {
  /* background: transparent url('img/vintage.jpg') no-repeat left bottom;
  height: 256px; */
}



/* ----------------------------------------------------------- KOMPONENTE  */

#content {
  margin-top: 34px;
}
.container {
  padding-top: 32px;
  padding-bottom: 32px;
}
nav.container {
  padding-top: 0;
  padding-bottom: 0;
}

/* ----------------------------------------------------------- NASLOVI */
#title {
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #1f8dd6;
  border-bottom: 8px solid #1973af;
  margin-bottom: 0;
}
#title h1 {
  margin-bottom: 0;
  color: #000;
}
#title h2:before {
  display: block;
  background-color: #eef;
  content: "";
  width: 25%;
  height: 2px;
  margin: 32px auto 32px;
}
#title h2 {
  font-size: 18px; font-size: 1.8rem;
  text-transform: none;
  font-weight: 400;
  display: block;
  color: #eef;
}

/* ----------------------------------------------------------- LISTA VESTI NA POČETNOJ STRANICI */

#latestnews {
  /*background-color: #fff;*/
  background-color: #e3f4fc;
}
.entry {
  border: 2px solid #1f8dd6;
  border-radius: 5px;
  background-color: #fff;
  padding: 32px 32px 16px;
}

.entry-thumbnail, .entry-thumbnail a.thumbnail {
  margin: 0;
}
.entry-meta {
  margin-bottom: 16px;
}
.entry-meta p {
  margin-bottom: 0;
}
/* Naslov sekcije */
#latestnews h3 {
  margin-top: 0;
  margin-bottom: 32px;
}
#latestnews .cat-links {
  text-transform: uppercase;
  font-size: .9em;
  font-weight: 700;
}
#latestnews .row div.clearfix {
  margin: 0 0 32px;
}
/* Naslov vesti */
.entry h4 {
  border-top: 1px solid #afb8c8;
  padding-top: 16px;
}
#latestnews .btn {
  margin-top: 0;
}



/* ----------------------------------------------------------- IMPORTANT */

#important {
  background-color: #f9fafa;
}

/* ----------------------------------------------------------- SECONDARY CONTENT ON HOME PAGE */

/*#secondary {
background-color: #e3f4fc;
}*/
#secondary .fa-ul {
  margin-bottom: 2em;
}
#secondary .fa-ul li {
  text-align: left;
}
#secondary hr, #important hr {
  border-color: transparent;
}

/* ----------------------------------------------------------- SUSEDNI TEKSTOVI NA single.php */

.single .adjecent-posts {
  background-color: #111;
  padding-top: 0;
}
.single .adjecent-posts h4 {
  color: #fff;
}

/* ----------------------------------------------------------- SOCIAL */

.social-button-container {
  clear: both;
  overflow: hidden;
  margin: 0 auto;
  width: 50%
}
.social-fb, .social-twitter, .social-gplus, .social-linkedin {
  margin: 7px 0;
  text-align: left;
}

/* ----------------------------------------------------------- ASIDE / SIDEBAR */

.affix {
  position: fixed;
  top: 160px;
  right: 100px;
}
.affix-bottom {
  position: relative;
}
.entry-meta-header, .entry-meta-content {
  padding: 32px 15px;
}
.entry-meta-header h2, .entry-meta h3 {
  font-size: 18px; font-size: 1.8rem;
  margin: 0;
  text-align: center;
}
.entry-meta-content {
  background: #1f8dd6 url("img/triangle.png") no-repeat center top;
  color: #eef;
  text-align: center;
}
.entry-meta-content .bookmarks {
  margin-bottom: 0;
}
.entry-meta-content ul.fa-ul {
  margin-left: 0;
}
.entry-meta-content a {
  color: #eef;
}
.entry-meta-content a:hover {
  color: #fff;
  text-decoration: underline;
}
.entry-meta-content .printfriendly {
  display: inline;
  width: auto;
}
.entry-meta footer {
  padding: 32px 0;
}
.entry-meta footer h3 {
  margin: 16px 0;
}
.entry-meta footer a:hover {
  text-decoration: underline;
}

/* ----------------------------------------------------------- CENTRI / ORGANIZACIJA */

.sectors {
  background-color: #e3f4fc;
}
.sector {
  padding: 32px 0;
}
.sector .photo {
  background: transparent no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.higijena .photo {
  background-image: url('img/laboratorija.jpg');
}



/* ----------------------------------------------------------- PAGE SPECIFIC  */
/* ----------------------------------------------------------- .SINGLE / #SINGLE */

.archive {
  /*    background-color: #fafafa;*/
}
/* centriranje slike na "Reč direktora" stranici */
#single figure.direktor {
  text-align: center;
}

#single h1 {
  font-weight: 700;
  margin-bottom: .5em;
  letter-spacing: 1px;
}
#single ul {
  margin-bottom: 2em;
}
.page article, .single article, .archive {
  margin-top: 34px;
}
.single article h1:after, .page article h1:after, .archive h1:after {
  display: block;
  background-color: #cbd6e5;
  content: "";
  width: 25%;
  height: 2px;
  margin: 40px auto 64px;
}
.single .post_cat {
  text-align: center;
  margin-bottom: 48px;
}
.single .post_cat h4 {
  display: inline;
  padding: 8px;
  border-bottom: 1px solid #cbd6e5;
}



/* ----------------------------------------------------------- KONTAKT  */

#single.contact h1, #single.contact h1:after {
  margin-bottom: 0;
}
#details {
  background-color: #111;
}
.contact {
  text-align: center;
}
.contact a:hover {
  color: #fff;
}
#single.contact h2 {
  font-weight: 400;
  font-size: 14px; font-size: 1.4rem;
  text-align: center;
}
.contact ul {
  margin-bottom: 0;
}
.contact h2, .contact li {
  color: #eee;
}
.contact .data li {
  font-weight: 700;
  font-size: 18px; font-size: 1.8rem;
  margin-bottom: .4em;
}
.contact address, #single #email ul {
  margin-bottom: 0;
}
#map {
  width: 100%;
  height: 512px;
}



/* ----------------------------------------------------------- ARHIVA  */

#article_list ul {
  padding-left: 0;
}



/* ----------------------------------------------------------- FOOTER  */

#mainfooter {
  background-color: #1f8dd6;
  border-top: 8px solid #1973af;
  color: #aaddff;
  /*text-align: center;*/
}
/*
#mainfooter h6 {
text-transform: uppercase;
}
*/
#mainfooter a {
  color: #fff;
  padding: 4px;
  font-weight: 400;
}
#mainfooter a:hover {
  text-decoration: underline;
  background-color: transparent;
}
.vcard li {
  /*line-height: 1.4em;*/
}
#mainfooter ul.social a {
  display: block;
  width: 24px;
  height: 20px;
  background: transparent url("img/social.png") no-repeat;
}
#mainfooter ul.social a.twitter {
  background-position: -0 -0;
}
#mainfooter ul.social a:hover.twitter {
  background-position: -24px -0;
}
#mainfooter ul.social a.facebook {
  background-position: -0 -20px;
}
#mainfooter ul.social a:hover.facebook {
  background-position: -24px -20px;
}
.dl-horizontal dt {
  width: auto;
  float: left;
}
.dl-horizontal dd {
  margin-left: 5rem;
}

/* ----------------------------------------------------------- COPYRIGHT & LEGAL */

#copy {
  padding-top: 0;
  padding-bottom: 64px;
}
#copy ul {
  text-align: right;
}

#hcard .adr {
  padding-left: 0;
}
#hcard .adr li {
  list-style: none;
}
#copy ul li {
  display: inline-block;
  padding-left: 1em;
}
#copy .legal {
  text-align: center;
}



/* ----------------------------------------------------------- SCREEN SPECIFIC & FIVE COLUMN  */

/* FIVE COLUMN */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.col-xs-15 {
  width: 20%;
  float: left;
}



/* ----------------------------------------------------------- SM  */
/* PRIMENJUJE SE ZA EKRANE PREKO 768px ŠIRINE */

@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
  h1 { font-size: 40px; font-size: 4rem; }
  h2 { font-size: 30px; font-size: 3rem; }
  h3 { font-size: 24px; font-size: 2.4rem; }
  h4 { font-size: 20px; font-size: 2rem; }
  h5 { font-size: 18px; font-size: 1.8rem; }
  h6 { font-size: 17px; font-size: 1.7rem; }
  .container {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .navbar-toggle {
    margin-right: 0;
  }
  #mainnav a {
    text-align: left;
  }
  #title h2 {
    font-size: 22px; font-size: 2.2rem;
  }
  /*
  #latestnews .row div, #latestnews .row > div {
    margin-bottom: 8px;
  }
  */
  /*#latestnews {
  border-top: 1px solid #edf0f2;
  background-color: #fcfcfd;
  }*/
  #latestnews .entry-thumbnail {
    float: none;
    width: auto;
    height: auto;
  }
  #latestnews h3 {
    margin-bottom: 64px;
  }
  #latestnews h3:before, #latestnews h3:after {
    display: inline-block;
    margin: auto 16px 8px;
    width: 160px;
    height: 1px;
    background: #333;
    content: "";
  }
  #latestnews .btn {
    margin-top: 32px;
  }



  /*#important {
  background-color: #ffa34d;
  background: linear-gradient(to bottom, #ffa34d, #ffbd80);
  border-top: 1px solid #ff891a;
  }*/
  #important .container {
    padding: 2em inherit;
    margin-bottom: 0;
  }
  #important section div {
    padding-top: 32px;
    padding-bottom: 32px;
    /*background-color: #fff;
    border-top: 4px solid #3a98f0;*/
  }



  /*#secondary {
  background: linear-gradient(to bottom, #b6e3f6, #fafdfe);
  border-top: 1px solid #a4d5ff;
  }*/
  #secondary h4 {
    height: 50px;
  }
  #secondary footer {
    text-align: left;
  }
  .single article h1:after, .page article h1:after, #konkursi h1:after {
    margin: 64px auto;
    height: 8px;
    /*        width: 39%;*/
  }
  #single ul {
    margin-bottom: 2em;
  }
  .contact {
    text-align: left;
  }
  #single.contact h2 {
    text-align: left;
  }
  .contact .data li {
    font-size: 30px; font-size: 3rem;
  }
  #mainfooter {
    background: linear-gradient(to bottom, #1f8dd6, #71baea);
  }
  #mainfooter a {
    display: inline;
    padding: 0;
  }
  #mainfooter a:hover {
    color: #fff;
  }
  #copy .legal {
    text-align: right;
  }
}


/* ----------------------------------------------------------- MD  */

@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
  #title h2 {
    font-size: 28px; font-size: 2.8rem;
  }
  #mainfooter {
    text-align: left;
  }
  /*
  #latestnews {
    background: #e8f1fb url("img/other-news-bg.jpg") no-repeat top center;
  }
  */
}


/* ----------------------------------------------------------- LG  */

@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}


/* ----------------------------------------------------------- PRINT  */

@media print {
  p {
    text-indent: 4em;
  }
}
